@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{font-family: 'IBM Plex Sans', sans-serif;letter-spacing: 1px;}


/* ** */
button{padding: 12px 24px !important; font-weight: 500 !important; font-size: 15px !important;}
.btn-tags{padding: 6px 12px !important;color:#453D2D;font-weight: 500;font-size: 10px;background-color:#F4A71C}
.btn-tags-light{padding: 6px 12px !important;color:#453D2D;font-weight: 500;font-size: 10px;border:1px solid #a7a6a5}
.vcs-btn, button.light{border:1px solid #F4A71C; color:#453D2D};

.btn-tags:hover{border:1px solid #F4A71C !important;}
.btn-tags-light:hover{background-color:#F4A71C;color:#ffffff;}
.vcs-btn:hover, button.light:hover{color:#ffffff; background-color: #F4A71C !important;}

.vertical-cr .bg-text, .services .bg-text, .courses .bg-text, .about .bg-text, .testmonial .bg-text {font-weight: 700;font-size: 250px; color: #F0F2F2 !important;margin: 0px 0px -6.5% 11%;}

.sec-4, .sec-6{padding:120px 0px !important; background-color: #1D1D1D;}



/* Header */
.header{padding: 15px 0px;z-index: 9999;}
.nav-menu ul{align-items: center !important;}
.nav-menu ul li{list-style:none;padding: 0px 25px;font-size: 14px;font-weight:500;line-height: 14px;}
.nav-btn{border-color: #F4A71C !important;}
.nav-btn:hover{background-color: #F4A71C !important;}

/* Home */
.banner{background-image: url('./assets/images/Rectangle\ 10.png'); background-repeat: no-repeat; background-position: center; background-size: cover;height: 100vh; align-items: center; display: flex;}
.banner{ margin-top: -98px; z-index: 2;}
.banner h1{font-weight: 700;font-size: 60px;line-height: 64px;z-index: 9999 !important;}
.banner p{font-weight: 300;font-size: 17px;line-height: 21px; margin-top: 16px;}
.banner button{background: #F4A71C; border:1px solid #F4A71C !important; margin-top: 20px;}
.banner button:hover{border:1px solid #ffffff !important;}
.banner p strong{font-weight: 800; box-shadow: 0px -10px 0px 0px #F4A71C inset;}

.media{height: 80vh !important;align-items: center;justify-content: center;background-color: #453D2D;}
.media h2{font-weight: 500;font-size: 60px;line-height: 100%;}
.media span{color: #F4A71C;}

.vertical-cr{padding-bottom: 120px;background-color: #E6E9E9;}
.vertical-cr .carousel-item h2{font-weight: 700;font-size: 48px;color:#453D2D; margin-top:24px;}
.vertical-cr h4{font-weight: 500;font-size: 18px;color:#453D2D; margin-top:16px;}
.vertical-cr .meta{font-weight: 700;font-size: 16px;color:#777777; margin-top:16px;}
.vertical-cr .carousel-indicators{font-size: 16px;color:#F4A71C; margin-top:16px; position: unset;}

.sec-4 .row{width:70%;}
.sec-4 .light{width:fit-content;margin-top: 40px !important;}
.sec-4 h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.sec-4 .cards{margin-top:40px !important; color: #453D2D}
.sec-4 .cards .col{padding: 40px; border-radius: 15px !important;}
.sec-4 .design{background-image: linear-gradient(to bottom, #E2E2E2, #EAEAEADD, #D9D9D9EB, #C7C7C75C)}
.sec-4 .code{background-image: linear-gradient(to bottom, #CE8F1E, #F5E4C4, #CE8F1E)}
.sec-4 .cards h4{font-weight: 600;font-size: 24px;}
.sec-4 .cards img{margin-top: 20px;}
.sec-4 .cards h3{font-weight: 600;font-size: 22px;line-height: 27px;margin-top: 23px;}
.sec-4 .cards p{font-weight: 400;font-size: 20px;}
.sec-4 .cards p.env{font-size: 16px;margin-top: 30px;}
/* .blury{color: transparent;text-shadow: 0 0 8px #ffffff;} */

.services{padding-bottom: 120px;background-color: #D9D9D9;}
.services h2{font-weight: 500;font-size: 48px; color: #777777;}
.services .active h2{color:#1D1D1D}
.services .col-12 .row{margin-top:40px;}

.sec-6 h2{font-weight: 700;font-size: 48px;line-height: 56px;padding-right: 10%;}
.sec-6 .card-grad{background-image: linear-gradient(to bottom right, #FCC96E, #F2E1C2, #F4A71C); border-radius: 15px;color: #453D2D;padding: 30px 40px;}
.sec-6 .grad-2{margin-bottom: -17%;margin-top: 17%;}
.sec-6 .card-grad h3{font-weight: 500;font-size: 20px; border: 1px solid #F4A71C; padding: 10px; width: 24%;}
.sec-6 .grad-3 h3{width: 17%;}
.sec-6 .card-grad h4{font-weight: 600;font-size: 22px;color: #453D2D;margin-top: 20px;}
.sec-6 .card-grad ul{margin-top: 20px;}
.sec-6 .card-grad li{font-weight: 400;font-size: 18px;color: #777777;}

/* .overlay{background-image: url('./assets/coding_gif.gif');background-repeat:no-repeat;background-position: center top 260px; background-size: contain;} */
.courses{padding-bottom: 120px;background-image: url('./assets/images/transparent-chevron-bg\ 1.png');background-repeat:no-repeat;background-position: center top 260px; background-size: 79%;}
.courses{padding-bottom: 120px;background-image: url('./assets/images/transparent-chevron-bg\ 1.png');background-repeat:no-repeat;background-position: center; background-size: 79%;}
.courses h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.courses ul{color:#777777; font-weight: 700;font-size: 20px; margin-top: 20px;}
.courses ul li{padding:4px 0px}

/* courses new */
.courses-new .bg-text {font-weight: 700;font-size: 250px; color: #F0F2F2 !important;margin: 0px 0px -4% 11%;}
.courses-new h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.courses-new .dm{margin-top:45px}
.courses-new ul{color:#777777; font-weight: 700;font-size: 20px; margin-top: 20px;}
.overlay-new{background-image: url('./assets/coding_gif.gif');background-repeat:no-repeat;background-position: center; background-size: contain;}
.arrow{background-image: url('./assets/images/transparent-chevron-bg\ 1.png');background-repeat:no-repeat;background-position: auto;background-size: cover;}
.courses-new{padding-bottom: 120px;}
.courses-new ul li{padding:4px 0px}



.about{padding-bottom: 120px; background-color: #1D1D1D;}
.about .bg-text{color: #424242 !important;}
.about h2{font-weight: 700;font-size: 48px;line-height: 56px;}

.testmonial h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.testmonial{padding-bottom: 120px;}
.testmonial .content{margin: -200px 0px 0px -30px;}
.testmonial .content{width: 60%;}
.testmonial .content h3{font-weight: 600;font-size: 16px;}
.testmonial .content h6{font-weight: 400;font-size: 14px;}
.testmonial .content p{color:#ffffff;font-weight: 500;font-size: 16px;margin-top: 13px;position: relative;text-shadow: 2px 2px 3px #000000;}
.testmonial .name-bg{background: #F4A71C; padding: 16px; position: relative;}
.testmonial .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left{display: none;}
.testmonial .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right{margin: -30% 3% 0px 0px;}
.testmonial .react-multi-carousel-list {position: unset;padding-left: 35px;margin-top: 40px;}

.testmonial .react-multiple-carousel__arrow {background: #ffffff !important;border: 1px dashed #000000 !important;}
.testmonial .react-multiple-carousel__arrow::before {color: #F4A71C;}
.testmonial .react-multiple-carousel__arrow:hover{background: #F0F2F2 !important;}
.testmonial .row{padding-left: 16%;}


.footer{padding-top: 120px; background-color: #000000;}
.footer h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.footer h5{font-weight: 600;font-size: 14px;}
.footer p{font-weight: 400;font-size: 14px;}
.footer .left-col{border-right: 1px solid #ffffff5b; padding-right: 55px;}
.footer .contact-details{margin-top: 40px;}
.socials svg{font-size: 20px; margin: 0px 13px;cursor:pointer}
.socials svg:hover{color: #CE8F1E !important;}

.footer .right-col{padding-left: 55px;}
.footer-menu li{list-style: none;padding: 0px 14px; font-weight: 400;font-size: 16px;}


.bg-dark{background-color: #000000 !important;}
.ft-reviews{border-top: 1px solid #ffffff5b;}
.ft-reviews img{width: 30%;}
.ft-reviews a:hover{color: #CE8F1E !important;}
.ft-social,.ft-terms,.ft-reviews{padding:30px 0px;}
.terms p{font-weight: 300;}










/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------- VECTORS ----------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.bvc1,.bvc2,.bvc3,.bvc4,.bvc5,.bvc6{opacity: .8;animation-duration: 1.5s;animation-fill-mode: forwards;}

.bvc1{position: absolute; right:0px;width: 8%; top: 7%;}
.bvc2{position: absolute; left:0;width: 8%; bottom: 2%;}

.bvc3{position: absolute; left:50%;width: 8%; top: 10%;}
.bvc4{position: absolute; left:32%;width: 12%; top: 46%;z-index: 2;}
.bvc5{position: absolute; left:60%;width: 12%; top: 70%;}
.bvc6{position: absolute; left:27%;width: 12%; top: 80%;}

/* ON SCREEN LOAD */
/* .bvc1{animation-duration: 1.5s;animation-name: animate-down;animation-delay: 0.5s;animation-fill-mode: forwards;}
.bvc2{animation-duration: 1.5s;animation-name: animate-up;animation-delay: 0.5s;animation-fill-mode: forwards;}
.bvc3, .bvc4, .bvc5, .bvc6 {animation-duration: 1.5s;animation-name: animate-right;animation-delay: 0.5s;animation-fill-mode: forwards;} */

/* ON HOVER */
.banner:hover .bvc1{animation-name: animate-down;}
.banner:hover .bvc2{animation-name: animate-up;}
.banner:hover .bvc3,.banner:hover .bvc4,.banner:hover .bvc5,.banner:hover .bvc6{animation-name: animate-right;}
.banner:hover .bn-txt{animation: tilt-text forwards;}

@keyframes tilt-text{
  to { font-style: italic;}}
@keyframes animate-right {
  0% {  transform: translateX(0%) } 100% {  transform: translateX(50%);opacity:1;}
}
@keyframes animate-down {
  0% {  transform: translateY(0%) } 100% {  transform: translateY(50%) }
}
@keyframes animate-up {
  0% {  transform: translateY(0%) } 100% {  transform: translateY(-50%) }
}





/* ********************************************************************************************************************************************************** */
/* ********************************************************************************************************************************************************** */
/* -RESPONSIVENESS- */
/* ********************************************************************************************************************************************************** */
/* ********************************************************************************************************************************************************** */
@media(min-width:1200px) and (max-width:1500px){
  .vertical-cr .bg-text, .services .bg-text, .courses .bg-text, .about .bg-text, .testmonial .bg-text {font-size: 220px;margin-left:2%;}

  /* .banner{height: 100vh !important;} */
  .bvc1{right:0px;width: 8%; top: 7%;}
  .bvc2{left:0;width: 8%; bottom: 30%;}
  .bvc3{left:50%;width: 8%; top: 7%;}
  .bvc4{left:32%;width: 12%; top: 32%;}
  .bvc5{left:60%;width: 12%; top: 50%;}
  .bvc6{left:27%;width: 12%; top: 60%;}

  .overlay{background-position: center top 363px;}
  .courses{padding-bottom: 0px;background-position: center top 363px;}

  .testmonial .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {margin: -40% 3% 0px 0px;}
  .testmonial .row{padding-left: 9%;}
}

@media(min-width:992px) and (max-width:1199px){
  .banner .col-5{width: 58%;}
  .bvc2{left:0;width: 8%; bottom: 14%;}
}

@media(min-width:768px) and (max-width:991px){
  .banner .col-5{width: 78%;}
}
@media(max-width:991px){
  .pc-menu{display: none !important;}
  .mobile-menu{position: absolute !important;top: 92px; background: #000000a2;width: 100% !important;padding: 0px 20px 40px 20px;left: 0px;}
  .mobile-menu .nav-btn{margin-left: 0px !important;}
  .mobile-menu ul{display: unset !important;}
  .mobile-menu ul li{padding: 20px 0px; list-style: none;}
}
@media(max-width:767px){
  .container, .container-sm {max-width: 700px !important;padding: 0px 20px !important;}

  .banner .col-5{width: 100%;}
  .banner h1 {font-size: 40px;}
  .bvc1{right:0px;width: 10%; top: 15%;}
  .bvc2{left:0;width: 10%; bottom: 2%;}
  .bvc3{left:50%;width: 14%; top: 18%;}
  .bvc4{left:62%;width: 20%; top: 44%;}
  .bvc5{left:60%;width: 20%; top: 80%;}
  .bvc6{left:27%;width: 20%; top: 90%;}

  .media h2, .services h2, .sec-6 h2, .courses h2, .about h2, .testmonial h2, .footer h2{font-size: 32px; line-height: 45px !important;}
  .vertical-cr, .services, .courses, .about, .testmonial {padding-bottom: 40px;}
  .sec-4, .sec-6 {padding: 40px 0px !important;}
  .footer {padding-top: 40px !important;}

  .sec-6 h2 {padding-right: 0%;}
  .vertical-cr .bg-text, .services .bg-text, .courses .bg-text, .about .bg-text{font-size: 90px;margin: 0px 0px -6.5% 3%;}
  .testmonial .bg-text {font-size: 65px;margin: 0px 0px -6.5% 3%;}
  .btn-tags, .btn-tags-light{font-size: 12px !important}
  .vertical-cr .carousel-item h2, .sec-4 h2  {font-size: 32px;}

  .vertical-cr h4 {font-size: 17px;}

  .vertical-cr .meta {font-size: 15px;}

  .sec-4 .row {width: 100%;}
  .sec-4 .cards .sec-4 .light {margin-top: 30px !important;}
  .sec-4 .col{margin: 0px !important;}
  .sec-4 .code{margin-top: 20px !important;}

  .services .col-11 {padding-left: 35px;}
  .services .col-12 .row:first-of-type{margin-top:15px;}
  .services .col-12 .row, .services .svc-img{margin-top:30px;}
  .services .bg-text {padding-top: 30px}
  /* .sv-first{margin-top: 20px !important;} */

  .sec-6 .grad-1,.sec-6 .grad-2{margin:16px !important;}
  .sec-6 .grad-3{margin-top: 30px !important;}
  .sec-6 .card-grad h3{font-size: 20px;}
  .sec-6 .card-grad ul{margin-top: 20px;}
  .sec-6 .card-grad li{font-weight: 400;font-size: 18px;color: #777777;}

  .courses .col-12 .w-50{width: 100% !important;}
  .about .about-img{padding-top: 30px !important;}

  /* ------- */
  .courses-new .bg-text{font-size: 90px;margin: 0px 0px -6.5% 3%;}
  .courses-new h2{font-size: 32px; line-height: 45px !important;}
  .courses-new .col-12 .w-50{width: 100% !important;}
  .courses-new{padding-bottom: 40px;}
  .courses-new ul{font-size: 18px;margin-top: 15px;}
  .courses-new .dm{margin-top:15px}
  /* ------- */

  .testmonial .row {padding-left: 7%;}
  .testmonial .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {margin: -124% 3% 0px 0px;}

  .footer .contact-details {margin-top: 0px;}
  .footer .col {flex: unset;}
  .footer .right-col {padding-left: 10px;}
  .footer .footer-logo {width: 100%;}
  .footer .lets-go {width: 60%;}
  .footer .col{margin-top: 20px;}

  .footer-menu{display: none;}
  .ft-social{padding-top: 0px !important}
  .ft-reviews .terms p{text-align: center;}
  .ft-reviews .terms p{margin-top: 20px !important;}

  /* .footer-menu ul{flex-wrap: wrap;}
  .footer-menu ul li{margin: 10px 0px;} */
  .socials svg{margin: 0px 9px;}
}























/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */






/* Emergency css */
/* img.custom-logo{
  height: 50px !important;
  width: 50px !important;
} */