@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{font-family: 'IBM Plex Sans', sans-serif;letter-spacing: 1px;}

/* body p{color:#9c9c9c} */
/* .page-heading p{color:#9c9c9c} */
/* *Buttons* */
button{padding: 12px 24px !important; font-weight: 500 !important; font-size: 15px !important;}
/* .btn-tags{padding: 6px 12px !important;color:#453D2D;font-weight: 500;font-size: 10px;background-color:#F4A71C} */
.btn-tags{padding: 6px 12px !important;color:#ffffff;font-weight: 500;font-size: 10px;background-color:#F4A71C}
.btn-tags-light{padding: 6px 12px !important;color:#453D2D;font-weight: 500;font-size: 10px;border:1px solid #a7a6a5}
.vcs-btn, button.light{border:1px solid #F4A71C; color:#453D2D};
.nav-btn{border-color: #F4A71C !important;}

.btn-tags:hover{border:1px solid #F4A71C !important;}
.btn-tags-light:hover{background-color:#F4A71C;color:#ffffff;}
.vcs-btn:hover, button.light:hover{color:#ffffff; background-color: #F4A71C !important;}
.nav-btn:hover{background-color: #F4A71C !important;border-color: #F4A71C !important;}


/* .vertical-cr .bg-text, .services .bg-text, .courses .bg-text, .about .bg-text, .testmonial .bg-text, .cs .bg-text {font-weight: 700;font-size: 250px; color: #F0F2F2 !important;margin: 0px 0px -6.5% 11%;} */
.bg-text{font-weight: 700;font-size: 250px; color: #F0F2F2 !important;margin: 0px 0px -6.5% 11%; letter-spacing: -5px;}
.sec-4, .sec-6{padding:120px 0px !important; background-color: #1D1D1D;}
.txt-primary{color:#F4A71C}



/* Header */
.header{padding: 15px 0px;z-index: 99999;}
.nav-menu ul{align-items: center !important;}
.nav-menu ul li{list-style:none;padding: 0px 25px;font-size: 14px;font-weight:500;line-height: 14px;}
.menu-item:hover{color: #F4A71C !important;}
.nav-logo img{width: 80%;}

.header_sticky{position:fixed; width:100%;top:0px;background:#000000;border:none !important;border-bottom: 1px solid #F4A71C !important;}

/* Home */
.banner{background-image: url('./assets/images/Rectangle\ 10.png'); background-repeat: no-repeat; background-position: center; background-size: cover;height: 100vh; align-items: center; display: flex;}
.banner{ margin-top: -103px; z-index: 2;}
.banner h1{font-weight: 700;font-size: 60px;line-height: 64px;z-index: 9999 !important;}
.banner p{font-weight: 300;font-size: 17px;line-height: 21px; margin-top: 16px;}
.banner button{background: #F4A71C; border:1px solid #F4A71C !important; margin-top: 20px;}
.banner button:hover{border:1px solid #ffffff !important;}
.banner p strong{font-weight: 800; box-shadow: 0px -10px 0px 0px #F4A71C inset;}

.toper{width: 100%; position: fixed;width: 2%;right: 50px;bottom: 20px;z-index: 999999;border: 1px solid red;border-radius: 40px;}

/* .media{height: 80vh !important;align-items: center;justify-content: center;background-color: #453D2D;}
.media h2{font-weight: 500;font-size: 60px;line-height: 100%;}
.media span{color: #F4A71C;} */

/* .media-overlay{background-color: #453D2D;position: relative;text-align: center;} */
.media-overlay{background-color: #453D2D;position: relative;display: flex; align-items: center;justify-content: center; text-align: center;}
.media-overlay h2{font-weight: 500;font-size: 60px;line-height: 100%; z-index: 9999 !important;position: absolute; color: #ffffff;}
.media-overlay span{color: #F4A71C;}
.media1{height: 80vh !important;align-items: center;justify-content: center;object-fit: cover;width: 100%;opacity: .4;}
.media-play-btn {position: absolute;z-index: 9999;padding: 30px !important; opacity: .2;}
/* .media-overlay h2{font-weight: 500;font-size: 60px;line-height: 100%; z-index: 9999 !important;position: absolute;top: 40%;left: 20%; color: #ffffff;} */
/* .media-play-btn {position: absolute;top: 38%;left:46.5%;z-index: 9999;padding: 30px !important; opacity: .2;} */
.media-play-btn:hover {opacity: 1;}
.pause-icon{font-size: 40px !important;color: #D9D9D9;}

.vertical-cr{padding-bottom: 120px;background-color: #E6E9E9;}
.vertical-cr{background-image: url('./assets/images/image\ 14.png');background-repeat: no-repeat; background-position: right; background-size: contain;}
.vertical-cr .carousel-item h2{font-weight: 700;font-size: 48px;color:#453D2D; margin-top:24px;}
.vertical-cr h4{font-weight: 500;font-size: 18px;color:#453D2D; margin-top:16px;}
.vertical-cr .meta{font-weight: 700;font-size: 16px;color:#777777; margin-top:16px;}
.vertical-cr .carousel-indicators{font-size: 16px;color:#F4A71C; margin-top:16px; position: unset;}
.carousel-indicators button {padding: 3px 16px !important;}

.sec-4 .row{width:70%;}
.sec-4 .light{width:fit-content;margin-top: 40px !important;}
.sec-4 h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.sec-4 .cards{margin-top:40px !important; color: #453D2D}
.sec-4 .cards .col{padding: 40px; border-radius: 15px !important;}
.sec-4 .design{background-image: linear-gradient(to bottom, #E2E2E2, #EAEAEADD, #D9D9D9EB, #C7C7C75C)}
.sec-4 .code{background-image: linear-gradient(to bottom, #CE8F1E, #F5E4C4, #CE8F1E)}
.sec-4 .cards h4{font-weight: 600;font-size: 24px;}
.sec-4 .cards img{margin-top: 20px;}
.sec-4 .cards h3{font-weight: 600;font-size: 22px;line-height: 27px;margin-top: 23px;}
.sec-4 .cards p{font-weight: 400;font-size: 20px;}
.sec-4 .cards p.env{font-size: 16px;margin-top: 30px;}
.sec-4 .card-row{width:65%}

.services{padding-bottom: 120px;background-color: #D9D9D9;}
.services h2.sv{font-weight: 500;font-size: 48px; color: #777777;}
.services .active h2{color:#1D1D1D}
.services .col-12 .row{margin-top:40px;}

.sec-6 h2{font-weight: 700;font-size: 48px;line-height: 56px;padding-right: 10%;}
.sec-6 .card-grad{box-shadow: 0 0 6px #fcc96e7d; background: #ffffff00; border-radius: 15px;color: #453D2D;padding: 30px 40px;backdrop-filter: blur(10px);}
.sec-6 .grad-2{margin-bottom: -17%;margin-top: 17%;}
.sec-6 .grad-3 h3{width: 17%;}
.sec-6 .card-grad h4{font-weight: 600;font-size: 22px;color: #F4A71C;margin-top: 20px;}
.sec-6 .card-grad ul{margin-top: 20px;}
.sec-6 .card-grad li{font-weight: 400;font-size: 18px;color: #ffffff;}
.number{color: #ffffff;border: 2px solid #F4A71C;margin: 0 auto;height: 50px;width: 50px;border-radius: 100%;display: flex;align-items: center;justify-content: center;font-size: 20px;font-weight: 700;}
.card-extended{position:relative;left:-20%}
.sec-6{background-image: url('./assets/images/Triangle.png'); background-repeat: no-repeat; background-position: 50% 46%;}
.card-extended{background-image: url('./assets/images/Oval.png'); background-repeat: no-repeat; background-position: 67% 80%;}

/* .overlay{background-image: url('./assets/coding_gif.gif');background-repeat:no-repeat;background-position: center top 260px; background-size: contain;} */
.courses{padding-bottom: 120px;background-image: url('./assets/images/transparent-chevron-bg\ 1.png');background-repeat:no-repeat;background-position: center top 260px; background-size: 79%;}
.courses{padding-bottom: 120px;background-image: url('./assets/images/transparent-chevron-bg\ 1.png');background-repeat:no-repeat;background-position: center; background-size: 79%;}
.courses h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.courses ul{color:#777777; font-weight: 700;font-size: 20px; margin-top: 20px;}
.courses ul li{padding:4px 0px}

/* courses new */
.courses-new .bg-text {margin: 0px 0px -4% 11%;}
.courses-new h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.courses-new .dm{margin-top:45px}
.courses-new ul{color:#777777; font-weight: 700;font-size: 20px; margin-top: 20px;}
.overlay-new{background-image: url('./assets/coding_gif.gif');background-repeat:no-repeat;background-position: center; background-size: contain;}
.arrow{background-image: url('./assets/images/transparent-chevron-bg\ 1.png');background-repeat:no-repeat;background-position: auto;background-size: cover;}
.courses-new{padding-bottom: 120px;}
.courses-new ul li{padding:4px 0px}



.about{padding-bottom: 120px; background-color: #1D1D1D;}
.about .bg-text, .cs .bg-text{color: #424242 !important;}
.about h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.about p, .page-heading p{padding-right:50px}

.testmonial h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.testmonial{padding-bottom: 120px;}
.testmonial .content{margin: -200px 0px 0px -30px;}
.testmonial .content{width: 60%;}
.testmonial .content h3{font-weight: 600;font-size: 16px;}
.testmonial .content h6{font-weight: 400;font-size: 14px;}
.testmonial .content p{color:#ffffff;font-weight: 500;font-size: 16px;margin-top: 13px;position: relative;text-shadow: 2px 2px 3px #000000;}
.testmonial .name-bg{background: #F4A71C; padding: 16px; position: relative;}
.testmonial .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left{display: none;}
.testmonial .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right{margin: -30% 3% 0px 0px;}
.testmonial .react-multi-carousel-list {position: unset;padding-left: 35px;margin-top: 40px;}

.testmonial .react-multiple-carousel__arrow {background: #ffffff !important;border: 1px dashed #000000 !important;}
.testmonial .react-multiple-carousel__arrow::before {color: #F4A71C;}
.testmonial .react-multiple-carousel__arrow:hover{background: #F0F2F2 !important;}
.testmonial .row{padding-left: 16%;}


.footer{padding-top: 120px; background-color: #000000;}
.footer h2{font-weight: 700;font-size: 48px;line-height: 56px;}
.footer h5{font-weight: 600;font-size: 14px;}
.footer p{font-weight: 400;font-size: 14px;}
.footer .left-col{border-right: 1px solid #ffffff5b; padding-right: 55px;}
.footer .contact-details{margin-top: 40px;}
.socials svg{font-size: 20px; margin: 0px 13px;cursor:pointer}
.socials svg:hover{color: #CE8F1E !important;}

.footer .right-col{padding-left: 55px;}
.footer-menu ul{padding-top:20px !important}
.footer-menu li{list-style: none;padding: 0px 14px; font-weight: 400;font-size: 14px;}
.footer-menu li:hover{color:#F4A71C}


.bg-dark{background-color: #000000 !important;}
.ft-reviews{border-top: 1px solid #ffffff5b;}
.ft-reviews img{width: 30%;}
.ft-reviews a:hover{color: #CE8F1E !important;}
.ft-social,.ft-terms,.ft-reviews{padding:30px 0px;}
.terms p{font-weight: 300;}

/* Contact us page */
.contact{margin-top:-103px; padding: 100px 0pc 120px 0px; background: #453D2D;}
.contact .bg-text {font-weight: 700;font-size: 160px; color: #f0f2f256 !important;margin: 0px 0px -6.5% 11%;letter-spacing: -5px;}
.contact-detials{display: flex;flex-wrap: wrap; padding-top: 130px;}
.contact-detials h2{font-size: 48px; font-weight: 700; line-height: 56px; width:92%;}
.contact-detials h3{font-size: 22px; font-weight: 600; line-height: 35px;}
.contact-detials p{font-size: 18px; font-weight: 300; line-height: 30px;}
.contact-icon{font-size: 25px;}
.contact-form{padding:40px; border-radius: 15px;background: #00000098;}
.contact-form input::placeholder, .contact-form textarea::placeholder{color:#ffffff}
.btn_submit{padding:12px 24px; background: #F4A71C}
.btn_submit:hover{background: transparent;border: 1px solid #ffffff;}
.contact-tabs button{border: none;background-color: #ffffff;}
.contact-tabs .active, .contact-tabs button:hover{background:#F4A71C; color:#ffffff}
.tab-content{display:none}
.tab-content.active{display:block !important}

/* Inner pages */
.py-120{padding-top:120px;padding-bottom:120px}
.pb-120{padding-bottom:120px;}
.page-banner{margin-top:-103px !important;padding: 100px 0px 100px 0px !important; background-color: #1D1D1D;height:100vh}
.cs{height:auto !important}
.page-banner .bg-text{font-size: 160px !important; letter-spacing: -5px; font-weight: 700;color: #424242 !important;margin: 0px 0px -6.5% 11%;}
.text-md-dark{color: #424242;font-size: 160px; font-weight: 700;margin: 0px 0px -4.5% -7%;}
.text-md-light{color: #ffffff;font-size: 160px; font-weight: 700;margin: 0px 0px -4.5% -7%;}

h2.inner{font-size: 48px; font-weight: 700; line-height: 56px;}
h3.inner{font-weight: 600;font-size: 16px;} 
p.role{font-weight: 300;font-size: 16px;}
.w-47{width:44%; margin: auto;}
.bg-secondary{background-color: #D9D9D9 !important;}
/* .bg-dark h2.inner{color:#F4A71C} */
.w-32{width:32%}

.bg-vector{background:#F4A71C;position:absolute;opacity:.2;}
.ip-bvc1{height: 19px;width:8%;top:11%;right:24%}
.ip-bvc2{height: 40px;width:5%;top:25%;left:0%}
.ip-bvc3{height: 50px;width:5%;top:40%;right:0%}
.ip-bvc4{height: 20px;width:12%;top:65%;left:40%}
.ip-bvc5{height: 40px;width:11%;top:85%;right:5%}

.team h2{width:60%}
.team-row{flex-wrap:wrap; padding-top:30px;}
.team-row .st-card{width:25% !important;padding: 15px;}
.team .container{overflow: hidden;}
.st-card .profile-img{height:300px}
.st-card .profile-img img{height:100%;object-fit: cover;}

/* cs */
.projects{padding-top:50px}
.page-heading{padding-top:65px}
/* .tags-light{border: 1px solid #e0dfdf;border-radius: 20px;width: auto; font-size: 12px;margin:5px} */
.tags-light{border: 1px solid #F4A71C;border-radius: 20px;width: auto; font-size: 10px;padding:2px 10px;margin:5px; background:#F4A71C; color:#000000}
.cs-card .row{padding-top: 25px;}
.cs-card:hover{cursor:pointer}
.view-cs-btn{display: none;}
.cs-card.active .view-cs-btn{display: block;}
/* .card-img img{transition:all .5s; box-shadow: 10px 10px 15px 0px #F9B975;} */
.card-img img{transition:all .5s; box-shadow: 5px 5px 16px -2px #F9B975;}
.card-img img:hover{transform:translate(-10px,-10px);box-shadow: -5px -5px 16px -2px #F9B975 ;}

.mrq-text{font-size: 60px;font-weight: 500; padding: 0px 20px;}
.dash{background-color: #F4A71C;padding:5px 25px}
.scroll-main{overflow-x: hidden !important;position: relative;padding-bottom: 110px;}
.scroll-main::before,.scroll-main::after{  content: ""; position: absolute; z-index: 99; top: 0; bottom: 0; box-shadow: 0 0 60px 85px #f8f8f8;}
.scroll-main::after{content: ""; position: absolute; top: 0; bottom: 0; right:0px; box-shadow: 0 0 60px 85px #f8f8f8; /* box-shadow: 0 0 70px 105px #D9D9D9; */}
.gap{background:#ffffff;padding:2px 0px}

/* Courses
.course-card{box-shadow: 0px 0px 10px 0px #D9D9D9;border-radius: 5px; padding: 32px;transform: skew(0deg, -7deg);transition:all 1s ease}
.course-card:hover{transform: skew(0deg, -7deg);transform: scale(1.15);position: relative;background: #ffffff;box-shadow: 0px 0px 20px 0px #D9D9D9;background: #75D1F9;z-index: 9999;cursor:pointer;} */
.course-card{box-shadow: 0px 0px 10px 0px #D9D9D9;border-radius: 5px; padding: 32px;transition:all 1s ease}
.course-card:hover{transform: skew(0deg, -7deg);transform: scale(1.15);position: relative;background: #ffffff;box-shadow: 0px 0px 20px 0px #D9D9D9;background: #75D1F9;z-index: 9999;cursor:pointer;}
.csl-img{height:100px; width:100px; background: #1CD6F4; border-radius: 100%;}
.courses-scroll, .scroll-main{background-color: #f8f8f8;}

.circle{
  position: relative;
  width:150px;
  height:150px;
  background-image: url('./assets/images/svgviewer-output\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.text{
  width:100%;
  height:100%;
  position: absolute;
  animation:rotation 20s linear infinite;
}
.text span{
  position:absolute;
  left: 50%;
  font-size: 12px;
  transform-origin:0 75px;
  color:#ffffff;
  
}
@keyframes rotation{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}





/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------- Animation/Transition start----------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.bvc1,.bvc2,.bvc3,.bvc4,.bvc5,.bvc6,.bn-txt{opacity: .8;transition: all 1.5s ease;}

.bvc1{position: absolute; right:0px;width: 8%; top: 7%;}
.bvc2{position: absolute; left:0;width: 8%; bottom: 2%;}

.bvc3{position: absolute; left:50%;width: 8%; top: 10%;}
.bvc4{position: absolute; left:32%;width: 12%; top: 46%;z-index: 2;}
.bvc5{position: absolute; left:60%;width: 12%; top: 70%;}
.bvc6{position: absolute; left:27%;width: 12%; top: 80%;}

/* code/design */
.design, .code, .card-grad {animation-name: floating;animation-duration: 6s;animation-iteration-count: infinite;animation-timing-function: ease-in-out;}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}
.code {animation-duration: 7s;}
.nav-logo img{transition: transform .6s ease-in-out;}

/* ON SCREEN LOAD */
.loader .line{height:calc(100% / 9); background:#585040; animation:back 1s 0s forwards; width:100%;}
/* .loader .line{height:calc(100% / 9); background:#153235; animation:back 1s 0s forwards; width:100%;} */

.loader .line1{animation-delay: .1s;z-index:999999;position:fixed;top:0px}
.loader .line2{animation-delay: .15s;z-index:999999;position:fixed;top:calc(100% / 9)}
.loader .line3{animation-delay: .2s;z-index:999999;position:fixed;top:calc(100% / 9 *2)}
.loader .line4{animation-delay: .25s;z-index:999999;position:fixed;top:calc(100% / 9 *3)}
.loader .line5{animation-delay: .3s;z-index:999999;position:fixed;top:calc(100% / 9 *4);overflow: hidden;}
.loader .line6{animation-delay: .35s;z-index:999999;position:fixed;top:calc(100% / 9 *5)}
.loader .line7{animation-delay: .4s;z-index:999999;position:fixed;top:calc(100% / 9 *6)}
.loader .line8{animation-delay: .45s;z-index:999999;position:fixed;top:calc(100% / 9 *7)}
.loader .line9{animation-delay: .5s;z-index:999999;position:fixed;top:calc(100% / 9 *8)}
@keyframes back{
  0%{width:100%;}
  100%{width:0%; z-index:-1}
}

.animate-up .row{animation:moveup 2.2s 0.1s forwards}
@keyframes moveup{
  0%{transform:translate(0,40%);opacity:0}
  100%{transform:translate(0,0%);opacity:1}
}

.lets-go{animation:thumb 0.4s linear infinite}
@keyframes thumb{
  0%{transform:scale(1)} 100%{transform:scale(1.02)}
}

.scroll-left {white-space: nowrap;animation: marquee-left 20s linear infinite;}
.scroll-right {white-space: nowrap;animation: marquee-right 20s linear infinite;position: absolute;right:0px}

@keyframes marquee-left {
  0% {transform: translateX(0);}
  100% {transform: translateX(-30%);}
}
@keyframes marquee-right {
  0% {transform: translateX(0);}
  100% {transform: translateX(18%);}
}

/* ON HOVER */
.banner:hover .bvc1{transform: translateY(50%)}
.banner:hover .bvc2{transform: translateY(-50%)}
.banner:hover .bvc3,.banner:hover .bvc4,.banner:hover .bvc5,.banner:hover .bvc6{transform: translateX(50%)}
.banner:hover .bn-txt{transform: skewX(40deg)}

.services h2:hover{color:#000000;cursor:pointer}
.nav-logo img:hover{ transform: scale(1.1)}


@media (max-width:600px){
  /* ON SCREEN LOAD */
.bvc1{animation-duration: 1.5s;animation-name: animate-down;animation-delay: 0.5s;animation-fill-mode: forwards;}
.bvc2{animation-duration: 1.5s;animation-name: animate-up;animation-delay: 0.5s;animation-fill-mode: forwards;}
.bvc3, .bvc4, .bvc5, .bvc6 {animation-duration: 1.5s;animation-name: animate-right;animation-delay: 0.5s;animation-fill-mode: forwards;}
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------- Animation/Transition end ----------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/* ********************************************************************************************************************************************************** */
/* ********************************************************************************************************************************************************** */
/* -RESPONSIVENESS- */
/* ********************************************************************************************************************************************************** */
/* ********************************************************************************************************************************************************** */
@media(min-width:1200px) and (max-width:1500px){
  .vertical-cr .bg-text, .services .bg-text, .courses .bg-text, .about .bg-text, .testmonial .bg-text {font-size: 220px;margin-left:2%;}

  /* .banner{height: 100vh !important;} */
  .bvc1{right:0px;width: 8%; top: 7%;}
  .bvc2{left:0;width: 8%; bottom: 30%;}
  .bvc3{left:50%;width: 8%; top: 7%;}
  .bvc4{left:32%;width: 12%; top: 32%;}
  .bvc5{left:60%;width: 12%; top: 50%;}
  .bvc6{left:27%;width: 12%; top: 60%;}

  .overlay{background-position: center top 363px;}
  .courses{padding-bottom: 0px;background-position: center top 363px;}

  .testmonial .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {margin: -40% 3% 0px 0px;}
  .testmonial .row{padding-left: 9%;}
}

@media(min-width:992px) and (max-width:1199px){
  .banner .col-5{width: 58%;}
  .bvc2{left:0;width: 8%; bottom: 14%;}
}

@media(min-width:768px) and (max-width:991px){
  .banner .col-5{width: 78%;}
}
@media(max-width:991px){
  .pc-menu{display: none !important;}
  .mobile-menu{position: absolute !important;top: 92px; background: #000000;width: 100% !important;padding: 0px 20px 40px 20px;left: 0px; z-index: 999; border-bottom:2px solid #F4A71C}
  .mobile-menu .nav-btn{margin-left: 0px !important;}
  .mobile-menu ul{display: unset !important;}
  .mobile-menu ul li{padding: 20px 0px; list-style: none;}
}
@media(max-width:767px){
  .container, .container-sm {max-width: 700px !important;padding: 0px 20px !important;}

  .nav-logo img{width: 100%;}

  .banner .col-5{width: 100%;}
  .banner h1 {font-size: 40px;}
  .bvc1{right:0px;width: 10%; top: 15%;}
  .bvc2{left:0;width: 10%; bottom: 2%;}
  .bvc3{left:50%;width: 14%; top: 18%;}
  .bvc4{left:62%;width: 20%; top: 44%;}
  .bvc5{left:60%;width: 20%; top: 80%;}
  .bvc6{left:27%;width: 20%; top: 90%;}

  .media h2, .services h2, .sec-4 h2, .sec-6 h2, .courses h2, .about h2, .testmonial h2, .footer h2, h2.inner{font-size: 32px; line-height: 38px !important;}
  .vertical-cr, .services, .courses, .about, .testmonial {padding-bottom: 40px;}
  .sec-4, .sec-6 {padding: 40px 0px !important;}
  .footer {padding-top: 40px !important;}

  .sec-6 h2 {padding-right: 0%;}
  .vertical-cr .bg-text, .services .bg-text, .courses .bg-text, .about .bg-text, .page-banner .bg-text{font-size: 90px !important;margin: 0px 0px -6.5% 3%;}
  .testmonial .bg-text {font-size: 65px;margin: 0px 0px -6.5% 3%;}
  .btn-tags, .btn-tags-light{font-size: 12px !important}
  .vertical-cr .carousel-item h2, .sec-4 h2  {font-size: 32px;}

  .vertical-cr h4 {font-size: 17px;}

  .vertical-cr .meta {font-size: 15px;}

  .sec-4 .row {width: 100%;}
  .sec-4 .cards .sec-4 .light {margin-top: 30px !important;}
  .sec-4 .col{margin: 0px !important;}
  .sec-4 .code{margin-top: 20px !important;}

  .services .col-11 {padding-left: 35px;}
  .services .col-12 .row:first-of-type{margin-top:15px;}
  .services .col-12 .row, .services .svc-img{margin-top:30px;}
  .services .bg-text {padding-top: 30px}
  /* .sv-first{margin-top: 20px !important;} */

  .sec-6 .grad-1,.sec-6 .grad-2{margin:15px 0px 0px 0px !important;}
  .sec-6 .grad-3{margin-top: 30px !important;}
  .sec-6 .card-grad h3{font-size: 20px;}
  .sec-6 .card-grad ul{margin-top: 20px;}
  .sec-6 .card-grad li{font-weight: 400;font-size: 18px;color: #777777;}
  .card-extended{position:unset}
  
  .courses .col-12 .w-50{width: 100% !important;}
  .about .about-img{padding-top: 30px !important;}
  .about p, .page-heading p{padding-right:0px}

  /* ------- */
  .courses-new .bg-text{font-size: 90px;margin: 0px 0px -6.5% 3%;}
  .courses-new h2{font-size: 32px; line-height: 45px !important;}
  .courses-new .col-12 .w-50{width: 100% !important;}
  .courses-new{padding-bottom: 40px;}
  .courses-new ul{font-size: 18px;margin-top: 15px;}
  .courses-new .dm{margin-top:15px}
  /* ------- */

  .testmonial .row {padding-left: 7%;}
  .testmonial .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {margin: -124% 3% 0px 0px;}

  .footer .contact-details {margin-top: 0px;}
  .footer .col {flex: unset;}
  .footer .right-col {padding-left: 10px;}
  .footer .footer-logo {width: 100%;}
  .footer .lets-go {width: 60%;}
  .footer .col{margin-top: 20px;}

  .footer-menu{display: none;}
  .ft-social{padding-top: 0px !important}
  .ft-reviews img {width: 45%;}
  .ft-reviews .terms p{text-align: left;}
  .ft-reviews .terms p{margin-top: 20px !important;}
  .ft-reviews .col {flex: unset;}

  .socials svg{margin: 0px 9px;}

  .circle{width:110px;height:110px;}
  .text span{transform-origin:0 55px;font-size: 9px;}

  /* INNER PAGES */
  .py-120 {padding-top: 40px;padding-bottom: 40px;}
  .wm-100, .w-47{width:100% !important}

  .team h2{width:100%; padding-top:80px}
  .team-row .st-card {width: 33% !important;}
  .mrq-text {font-size: 20px;}
  .scroll-main::before, .scroll-main::after {box-shadow: 0 0 20px 20px #f8f8f8;}
  .scroll-main {padding-bottom: 55px;}
  .dash {padding: 3px 15px;}

  .cs .bg-text{font-size: 70px !important;}
  .projects{padding-top:40px !important}

  .text-md-light, .text-md-dark {font-size: 70px; margin: 0px 0px -8.5% -6%;}
  .pb-120.websites {padding-bottom: 40px;padding-top: 180px !important;}
  .dig-mkt, .branding {padding:40px 0px !important;}
  .pm-0{padding:20px 20px 0px 20px !important; margin:0px !important}
  .dig-mkt h2.inner{padding-top:20px}
  .ps-4{padding-left:16px !important}

  .courses{padding: 180px 16px 40px 16px;}
  .course-card {transform: unset;}
  .w-32 {width: 100%;}


  /* Contact us page */
  .contact{margin-top:-103px; padding: 100px 0px 40px 0px; background: #453D2D;}
  .contact .bg-text {font-size: 60px; margin: 0px 0px -6.5% 3%;}
  .contact-detials{padding-top: 30px;}
  .contact-detials h2{font-size: 32px; line-height: 45px; width:100%;}
  .contact-detials h3{font-size: 20px; line-height: 30px;}
  .contact-detials p{font-size: 17px; line-height: 28px;}
  .contact-form{padding:20px;}
  .btn_submit{margin-left: 0px !important;}
  .tabs .px-4 {padding-right: 20px !important;padding-left: 20px !important;}
  .contact-form .row{display: block;}
  .contact-form .col-5{width:95%;}
  .contact-form .col{width:100%;}
}






















/* test  sections*/
/* .myteam .tm-profile,.myteam .active h2.normal, .myteam h2.hovered{display:none;} */
.myteam .tm-profile{display:none;}

.myteam .name{overflow:hidden;height:60px}
.myteam h2{transition:all .4s ease; font-size: 45px;}
.myteam .active .name h2.normal{margin-top:-60px}

.myteam .row{position:relative;padding:20px 0px;cursor: pointer; transition:all 1s ease}
.myteam .tm-profile{position:absolute;bottom:-120px;width:25% !important; }

.myteam .active .tm-profile{display:block;animation:slightmove .7s forwards !important;}
.myteam .active h2.hovered{display:block; color:#F4A71C}
.myteam p{color:#F4A71C}

@keyframes slightmove{
  0% {transform:translate(0px,0px)}
  100% {transform:translate(0px,-20px)}
  /* 0%{bottom:-120px};
  100%{bottom:-60px} */
}


/* img-tabs */
.img-tabs ol{flex-wrap: wrap;padding-top: 24px;list-style: none;}
.img-tabs ol li{width: 50%;padding:10px 0px;font-size: 25px; transition:all .5s ease; cursor:pointer}
.img-tabs sup{font-size: 14px;padding-right:3px}
.img-tabs ol li.active{color:#F4A71C;}

.tab-img{display:none; width: 100%;animation:fade 1s ease;}
.tab-img.active{display:block;}
@keyframes fade{
  0%{opacity:.8;}
  100%{opacity:1}
}

.img-tabs li .line{transition:all 1s ease; width:0%;color:#F4A71C;height: 1px;background-color: #F4A71C;margin-top:4px}
.img-tabs li.active .line{width:100%}


/* dd-cards */
.dd-section{padding-left: 10px;}
.dd-card{cursor: pointer;width:24%;margin:0px 10px;}
.img-col img{width:100%;height: 100%;opacity: .6; transition: all 1s ease;}
.dd-card .row{height: 100% !important;padding: 0px;}
.dd-card .img-col{padding: 0px;background-color: #000000;}

.img-col{position: relative;}
.card-title{position: absolute;z-index: 9999;top:50%;color: #ffffff;left: 40%;}
.dd-card.active .card-title{display: none;}

.dd-card.active{width:48%;}
.dd-card .content{display:none;width:0%;background:#292828;padding: 40px 30px;}
.dd-card h3, .dd-card p{color:#ffffff;padding-top: 24px;}

.dd-card.active .img-col img{opacity: 1;}
.dd-card.active .content{transition:all 1s ease;}
.dd-card.active .img-col, .dd-card.active .content{display: block;width:50%;}


.dots{z-index:999999999; position: fixed; background-color:#F4A71C; border-radius: 50%;height:26px;width:26px;}

.c1{transition: all 0.02s ease;}
.c2{transition: all 0.035s ease;transform:scale(0.95,0.95);}
.c3{transition: all 0.05s ease;transform:scale(0.9,0.9)}
.c4{transition: all 0.065s ease;transform:scale(0.85,0.85)}
.c5{transition: all 0.08s ease;transform:scale(0.8,0.8)}
.c6{transition: all 0.09s ease;transform:scale(0.75,0.75)}
.c7{transition: all 0.1s ease;transform:scale(0.7,0.7)}
.c8{transition: all 0.11s ease;transform:scale(0.65,0.65)}
.c9{transition: all 0.12s ease;transform:scale(0.6,0.6)}
.c10{transition: all 0.13s ease;transform:scale(0.55,0.55)}
.c11{transition: all 0.14s ease;transform:scale(0.5,0.5)}
.c12{transition: all 0.15s ease;transform:scale(0.45,0.45)}
.c13{transition: all 0.16s ease;transform:scale(0.4,0.4)}
.c14{transition: all 0.17s ease;transform:scale(0.35,0.35)}
.c15{transition: all 0.18s ease;transform:scale(0.3,0.3)}
.c16{transition: all 0.19s ease;transform:scale(0.25,0.25)}
.c17{transition: all 0.2s ease;transform:scale(0.2,0.2)}
.c18{transition: all 0.21s ease;transform:scale(0.15,0.15)}
.c19{transition: all 0.22s ease;transform:scale(0.1,0.1)}
.c20{transition: all 0.23s ease;transform:scale(0.05,0.05)}

.c2{animation:moves 2s linear infinite}

